<.header>
  User Profile
</.header>

<.list>
  <:item title="Name"><%= @user.name %></:item>
  <:item title="Email"><%= @user.email %></:item>
  <:item title="Followings"><%= @followings %> Followings</:item>
  <:item title="Followers"><%= @followers %> Followers</:item>
</.list>
